In [4]:
import pandas as pd

In [5]:
df=pd.read_table('C:/Users/seohe/OneDrive/바탕 화면/Thesis/dataset_tsmc2014/NYC.txt')

In [6]:
df

,User ID,Venue ID,Venue category ID,Venue category name,Latitude,Longitude,Timezone offset in minutes,UTC time
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012
...,...,...,...,...,...,...,...,...
227423,688,3fd66200f964a52000e71ee3,4bf58dd8d48988d1e7931735,Music Venue,40.733596,-74.003139,-300,Sat Feb 16 02:29:11 +0000 2013
227424,560,4bca32ff0687ef3be789dbcc,4bf58dd8d48988d16c941735,Burger Joint,40.745719,-73.993720,-300,Sat Feb 16 02:31:35 +0000 2013
227425,945,50a77716e4b0b5a9492f6f56,4bf58dd8d48988d103941735,Home (private),40.854365,-73.883070,-300,Sat Feb 16 02:33:16 +0000 2013
227426,671,4514efe0f964a520e7391fe3,4bf58dd8d48988d11d941735,Bar,40.735981,-74.029309,-300,Sat Feb 16 02:34:31 +0000 2013
227427,942,4a1e0ca0f964a520bf7b1fe3,4bf58dd8d48988d116941735,Bar,40.726805,-73.957422,-300,Sat Feb 16 02:35:36 +0000 2013

In [60]:
# Tdf=pd.read_table('C:/Users/seohe/OneDrive/바탕 화면/Thesis/dataset_tsmc2014/TKY.txt')

In [7]:
# Tdf

In [9]:
print(df['Venue category name'].str.contains('Caf?'))

0         False
1         False
2         False
3         False
4         False
          ...
227423    False
227424    False
227425    False
227426    False
227427    False
Name: Venue category name, Length: 227428, dtype: bool

In [11]:
if df['Venue category name'].str.contains('Caf?')==True:
    print(df.index())

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [20]:
df1=pd.DataFrame(df['Venue category name'].str.split('?', 2).tolist())

In [19]:
df1.head(20)

,User ID,Venue ID,Venue category ID,Venue category name,Latitude,Longitude,Timezone offset in minutes,UTC time
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012
5,484,4b5b981bf964a520900929e3,4bf58dd8d48988d118951735,Food & Drink Shop,40.690427,-73.954687,-240,Tue Apr 03 18:04:00 +0000 2012
6,642,4ab966c3f964a5203c7f20e3,4bf58dd8d48988d1e0931735,Coffee Shop,40.751591,-73.974121,-240,Tue Apr 03 18:04:38 +0000 2012
7,292,4d0cc47f903d37041864bf55,4bf58dd8d48988d12b951735,Bus Station,40.779422,-73.955341,-240,Tue Apr 03 18:04:42 +0000 2012
8,428,4ce1863bc4f6a35d8bd2db6c,4bf58dd8d48988d103941735,Home (private),40.619151,-74.035888,-240,Tue Apr 03 18:06:18 +0000 2012
9,877,4be319b321d5a59352311811,4bf58dd8d48988d10a951735,Bank,40.619006,-73.990375,-240,Tue Apr 03 18:06:19 +0000 2012
10,87,4d8263a73e916dcb8edd80d2,4bf58dd8d48988d155941735,Gastropub,40.743483,-73.994009,-240,Tue Apr 03 18:07:15 +0000 2012
11,625,4ab5320cf964a5202b7320e3,4bf58dd8d48988d122951735,Electronics Store,40.742608,-73.992705,-240,Tue Apr 03 18:08:57 +0000 2012
12,691,4cb50d599c7ba35de0ef8706,4bf58dd8d48988d104941735,Medical Center,40.719762,-74.250014,-240,Tue Apr 03 18:09:06 +0000 2012
13,116,4c0ab56f7e3fc9288c1df482,4f04afc02fb6e1c99f3db0bc,Mobile Phone Shop,40.741191,-73.989663,-240,Tue Apr 03 18:09:29 +0000 2012
14,931,49f85763f964a520f16c1fe3,4bf58dd8d48988d16d941735,Caf?40.70458850287455,-74.009639,-240.000000,Tue Apr 03 18:09:59 +0000 2012,NaN
15,53,4c00297392a6c9280cc243e2,4bf58dd8d48988d124951735,Automotive Shop,40.861982,-74.047905,-240,Tue Apr 03 18:10:04 +0000 2012
16,445,4b9830a5f964a520c73235e3,4bf58dd8d48988d118951735,Food & Drink Shop,40.826790,-73.949509,-240,Tue Apr 03 18:10:39 +0000 2012
17,135,4a689777f964a520a0ca1fe3,4bf58dd8d48988d1c4941735,Restaurant,40.755275,-73.978806,-240,Tue Apr 03 18:11:04 +0000 2012
18,895,4bb7e0c41261d13a8707e898,4bf58dd8d48988d1e0931735,Coffee Shop,40.906627,-73.777774,-240,Tue Apr 03 18:11:16 +0000 2012
19,704,4cb4b31cb4b0a35df33969ce,4bf58dd8d48988d14e941735,American Restaurant,40.730677,-74.065672,-240,Tue Apr 03 18:11:35 +0000 2012