In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv("C:/Users/seohe/OneDrive/바탕 화면/Thesis/test.csv", encoding='cp949')

In [8]:
data100 = df[:101]

In [9]:
data100=data100.dropna(axis=0)

In [10]:
data100

,癤풳ser ID,Venue ID,Venue category ID,Venue category name,Latitude,Longitude,Timezone offset in minutes,UTC time
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012
...,...,...,...,...,...,...,...,...
96,235,4a8ae51ef964a520c10a20e3,4bf58dd8d48988d1e0931735,Coffee Shop,40.745463,-73.990983,-240,Tue Apr 03 19:07:59 +0000 2012
97,118,4c72dbbf13228cfa0c362c65,4bf58dd8d48988d1fc941735,Laundry Service,40.600144,-73.946593,-240,Tue Apr 03 19:08:27 +0000 2012
98,1054,4e5590b5814d6ce5cc849483,4d954b06a243a5684965b473,Residential Building (Apartment / Condo),40.870630,-74.097926,-240,Tue Apr 03 19:08:42 +0000 2012
99,881,4f4767e3e4b06a7740bdc8dd,4bf58dd8d48988d130941735,Building,40.808700,-73.958515,-240,Tue Apr 03 19:09:18 +0000 2012
100,713,45c76421f964a52066421fe3,4bf58dd8d48988d1e0931735,Coffee Shop,40.744045,-73.983737,-240,Tue Apr 03 19:09:49 +0000 2012

In [11]:
data100.to_csv('./data100.csv')

데이터셋 100개로 평점 임의 부여

In [12]:
# 데이터 로드
df = pd.read_csv('C:/Users/seohe/OneDrive/바탕 화면/thesis/data100.csv', sep='\t', header=None, names=['user_id', 'venue_id', 'timestamp'])

In [13]:
# 사용자별 방문한 장소 수 계산
user_visit_counts = df.groupby('user_id')['venue_id'].nunique().reset_index()
user_visit_counts.columns = ['user_id', 'visit_count']

In [18]:
# 평점 생성
max_visit_count = user_visit_counts['visit_count'].max()
user_visit_counts['rating'] = user_visit_counts['visit_count'] / max_visit_count * 5

In [19]:
# 평점 정보 저장
user_visit_counts[['user_id', 'rating']].to_csv('C:/Users/seohe/OneDrive/바탕 화면/thesis/data100.csv', sep='\t', index=False, header=False)